{% extends 'base.html.twig' %}

{% block meta_description %}
    <meta name="description" content="Administration du blog OCR_BLOG : liste des commentaires en attente de modération">
{% endblock %}

{% block title %}
    <title>Liste de commentaires en attente de modération</title>
{% endblock %}

{% block body %}
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <div class="row d-flex justify-content-center  align-content-start">

                <article class="card border-bottom-0 w-100">

                    <header class="card-header text-center mb-4">
                        <h1 class="font-weight-bold">TABLEAU DE BORD</h1>
                    </header>

                        <div class="d-flex flex-column mb-3">
                            {% if commentsList|length > 0 %}
                            <div class="d-flex justify-content-between bg-dark" style="border-bottom-right-radius: 100px; border-top-right-radius: 100px;">
                                <div class="d-flex flex-column">
                                    <div class="d-flex px-3 pb-3 pt-3 text-white">
                                        <i class="fas fa-exclamation-circle fa-lg text-warning mr-3"></i>
                                        <span class="font-weight-bold text-white">{{ waitingValidationMessage }}</span>
                                    </div>
                                    <div class="ml-3 mt-1 pl-1">
                                        {% if editMessage %}
                                        <i class="far fa-thumbs-up fa-lg text-white"></i><span class="font-weight-bold text-white ml-3"> {{ editMessage }} </span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div>
                                    <i class="fas fa-info-circle fa-3x mr-3 my-4 text-light"></i>
                                </div>
                            </div>
                            {% else %}
                            <div class="d-flex justify-content-between bg-light" style="border-bottom-right-radius: 100px; border-top-right-radius: 100px;">
                                <div class="d-flex flex-column">
                                    <div class="d-flex px-3 pb-3 pt-3">
                                        <i class="fas fa-coffee fa-lg mr-3"></i>
                                        <span class="font-weight-bold">{{ nothingToValidateMessage }}</span>
                                    </div>
                                    <div class="ml-3 mt-1 pl-1">
                                        {% if editMessage %}
                                        <i class="far fa-thumbs-up fa-lg"></i><span class="font-weight-bold ml-3"> {{ editMessage }} </span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div>
                                     <i class="fas fa-info-circle fa-3x mr-3 my-4 text-dark"></i>
                                </div>
                            </div>
                            {% endif %}
                        </div>

                        <div class="mb-5">
                        {% for comment in commentsList %}

                            <div class="shadow mx-auto my-2 w-100">

                                <div class="d-flex flex-column flex-sm-row justify-content-between py-1 px-3 text-white border-right border-left border-darkest bg-dark">
                                    <div class="my-2">
                                        <a href="mailto:{{ comment.commentAuthorEmail }}"><i class="fas fa-envelope text-warning"></i></a>
                                        <span class="ml-2 text-light font-weight-bold">&nbsp;-&nbsp;&nbsp;</span>&nbsp;{{ comment.commentAuthorName }}
                                    </div>
                                    <div class="mb-2 my-sm-2">
                                        <span class="text-light font-italic font-weight-bold">Posté le :&nbsp;</span>&nbsp;{{ comment.commentLastUpdateTimestamp|date("d/m/Y") }}
                                    </div>
                                </div>

                                <div class="media border-right border-left border-darkest bg-light">
                                    <div class="media-body text-justify">
                                        <p class="my-2 px-2">{{ comment.commentContent }}</p>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-end py-2 text-white border-right border-left border-darkest bg-dark">
                                    <div class="d-flex">

                                        <form action="" method="post" id="publishComment">
                                            <input type="hidden" name="publishAction" value="publishAction" />
                                            <input type="hidden" name="commentId" value=" {{ comment.commentId }} " />
                                            <button type="submit" class="nav-link text-uppercase px-3 font-weight-bolder text-warning bg-dark border-left-0 border-top-0 border-bottom-0 border-right border-white" name="publishComment" value="Publier">Publier</button>
                                        </form>

                                        <form action="" method="post" id="deleteComment">
                                            <input type="hidden" name="deleteAction" value="deleteAction" />
                                            <input type="hidden" name="commentId" value=" {{ comment.commentId }} " />
                                            <button type="submit" class="nav-link text-uppercase px-3 font-weight-bolder text-warning bg-dark border-0" name="" value="">Effacer</button>
                                        </form>
                                    </div>
                                </div>

                            </div>

                        {% endfor %}
                        </div>

                </article><!-- /.card -->

        </div>
    </div>
{% endblock %}
