{% extends 'base.html.twig' %}

{% block body %}
    <main class="main py-5 bg-white" role="main">

        <div class="container">

            <div class="row">
                <form class="col-md-8 mx-auto d-flex flex-column" action="" method="post" id="postForm">
                    <input type="hidden" name="postId" value="{% if postId %}{{ postId }}{% endif %}" />

                    <div class="text-center">
                        <h2>Nouvel article</h2>
                        {% if message %}
                            <p class="text-center text-justify my-5">{{ message }}</p>
                        {% endif %}
                        <hr/>
                    </div>

                    <div class="form-group">
                        <label for="title">Titre</label>
                        <input type="text" class="form-control form-control-lg" name="title" value="{% if postTitle %}{{ postTitle }}{% endif %}" placeholder="Titre de l'article">
                    </div>

                    <div class="form-group">
                        <label for="route">Route</label>
                        <input type="text" class="form-control form-control-lg" name="route" value="{% if postRoute %}{{ postRoute }}{% endif %}" placeholder="Route de l'article">
                    </div>

                    <div class="form-group">
                        <label for="author">Auteur</label>
                        <input type="text" class="form-control form-control-lg" name="author" value="{% if postAuthor %}{{ postAuthor }}{% endif %}" placeholder="Auteur de l'article">
                    </div>

                    <div class="form-group">
                        <label for="content">Contenu</label>
                        <div class="editor">
                            <div class="js-editable" id="content">
                                {% if postContent %}{{ postContent|raw }}{% endif %}
                            </div>
                        </div>
                    </div>

                    <input type="hidden" name="content" id="contentField" value="" />

                    <button type="submit" class="btn btn-warning rounded-pill shadow w-25 align-self-end" name="publish" value="Publier">Publier</button>
                </form>
            </div>
        </div>

    </main>

    <script language="JavaScript">
        $(document).ready(function() {
            $("#postForm").submit(function(event){
                $("#contentField").val($("#content").html());
            });
        });
    </script>
{% endblock %}
