{% extends 'base.html.twig' %}

{% block body %}

    <main class="main pt-4" role="main" xmlns="http://www.w3.org/1999/html">
        <div class="container-fluid">
            {% for post in userPostList %}
            <div class="row">
                <div class="d-flex">
                    <article class="card py-4 px-5 min-vw-100">
                        <header>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <span class="text-dark font-weight-bold">Auteur :</span><a href="/">&nbsp;{{ post.postAuthor }}</a>
                                </div>
                                <div class="card-meta">
                                    <span class="font-italic font-weight-bold">Publié le :&nbsp;</span>{{ post.lastUpdateTimestamp|date("d/m/Y") }}
                                </div>
                            </div><br>
                            <a href="post.html.twig">
                                <h4 class="card-title">{{ post.postTitle }}</h4>
                            </a>
                        </header>

                        <div class="h-50">
                            {{ post.postContent|slice(0,250)|raw }}<span>...</span>
                        </div>
                        <a href="/post/{{ post.postRoute }}" class="mt-3 btn btn-outline-dark rounded-pill shadow align-self-end font-italic"  name="readMore" value="lire la suite..."><i class="fa fa-eye"></i>&nbsp;&nbsp;lire la suite...</a>
                    </article><!-- /.card -->
                </div>
            </div><!-- row -->
            {% endfor %}
        </div>
    </main>

{% endblock %}
